<app-count-feeds (selectedStatusBtnEvent)="setSelectedStatusButton($event)" [feedCountItem]="feedsCount">
</app-count-feeds>
<style>
  .alert {
    width: 100%;
    height:100%;
    color: black;
    border: 1px solid black
  }
  .required-field::after {
      content: "*";
      color: red;
  }

  </style>
<div class="row">
    <div class="col-12">
        <div class="row feedContainer">
            <div class="col-3 pr-0 pl-0">
                <app-feed-list></app-feed-list>
            </div>
            <div class="col-9 pr-0 pl-0">
                <div class="card reademail-mail bg-white">
                    <div class="card-header  bg-transparent text-left vertical-center">

                        <div *ngIf="feedDetail?.uuid" class="pull-left text-center score">
                            <span class="highlighterhead">Score</span>
                            <span class="highlighter" *ngIf="(feedDetail?.total_score)">
                                {{feedDetail?.total_score}}</span>

                            <span class="highlighter" *ngIf="!(feedDetail?.total_score)"> NA</span>
                        </div>
                        <div *ngIf="feedDetail?.uuid" class="pull-left text-center relevant pl-40">
                            <span class="highlighterhead">Relevant</span>
                            <span class="highlighter"> {{(feedDetail?.relevancy)?"Yes":"No"}}</span>
                        </div>

                        <div *ngIf="selectedStatusButton=='Reviewed' && feedDetail?.uuid" class="pull-left text-center status pl-40">
                          <span class="highlighterhead">Status</span>
                             <span class="rejected" *ngIf="feedDetail?.reviewed_decision_id==20"> Rejected </span>
                             <span class="accepted" *ngIf="feedDetail?.reviewed_decision_id==10"> Accepted </span>
                      </div>

                        <div class="keywords">
                            <span [ngClass]="{'normal': !is_future_date_selected}" (click)="highlightFutureDate(feedDetail)" *ngIf="(feedDetail?.future_date_score)>0">Future Date</span>
                            <span [ngClass]="{'normal': !is_email_domain_selected}" (click)="highlightEmailNDomain(feedDetail)" *ngIf="feedDetail?.listed_domain">Email/Domain</span>
                            <span [ngClass]="{'normal': !is_keywords_selected}" (click)="highlightKeyWords(feedDetail)" *ngIf="(feedDetail?.keyword_score)>0">Keyword</span>
                        </div>


                        <div class="text-center acceptandreject" *ngIf="selectedStatusButton=='Pending Review' && feedDetail?.uuid">
                            <button class="btn btn-outline-success" (click)="submitReview('10',feedDetail)">Accept</button>
                            <button class="btn btn-outline-danger ml-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Reject</button>
                        </div>
                         <!-- Confirm Rejection Dialog Box -->
                        <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Confirm Rejection</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reason=''"></button>
                            </div>
                              <div class="modal-body">
                              <label for="reason" class="required-field">Reason for Rejection </label><br>
                              <textarea class="alert" id="reason" name="reason" maxlength="160" [(ngModel)]="reason"></textarea>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reason=''">Close</button>
                                <button id="confirm" type="button" class="btn btn-primary" [disabled]="reason === ''"  (click)="submitReview('20',feedDetail)" data-bs-dismiss="modal">Confirm</button>
                              </div>
                            </div>
                        </div>
                      </div>


                        <div class="text-center acceptandreject" *ngIf="selectedStatusButton=='Reviewed' && feedDetail?.uuid">
                            <!-- <span class="rejected" *ngIf="feedDetail?.reviewed_decision_id==20">Rejected</span> -->
                             <span class="rejected" *ngIf="feedDetail?.reviewed_decision_id==20"><button class="btn btn-outline-success ml-3" (click)="submitReview('10',feedDetail)"> <i class="fa fa-check" aria-hidden="true" style="text-align: center;"> </i> Change to Accept</button></span>
                             <span class="accepted" *ngIf="feedDetail?.reviewed_decision_id==10"><button class="btn btn-outline-danger ml-3" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fa fa-times" aria-hidden="true" style="text-align: center;"> </i> Change to Reject</button></span>
                            <!-- <span class="accepted" *ngIf="feedDetail?.reviewed_decision_id==10">Accepted</span> -->
                        </div>
                    </div>
                    <!-- Displaying the Comments -->
                    <div *ngIf="selectedStatusButton=='Reviewed' && feedDetail?.reviewed_decision_id==20 && feedDetail.review_comments!=''" style=" background-color: #e1e1e1; vertical-align: middle; align-items: center; resize: both;">
                       <div style="width: 3.5%; float:left;vertical-align: middle; align-items: center;"><i class="fa fa-commenting-o center" aria-hidden="true" style="font-size: x-large; vertical-align: middle; margin-left: 4px;"></i></div>
                       <div style="width: 96.5%; float:right"><b style="vertical-align: middle;">{{feedDetail.review_comments}}</b></div>
                    </div>
                    <div class="card-body msgBody">
                        <div class="row p-t0-l10">
                            <h4 class="feedBackSubject" [innerHTML]="msg_subject !=='undefined'?msg_subject:'No Result found'"></h4>
                            <div class="col-8">
                                <span class="from" *ngIf="feedDetail?.msg_from"><strong>From : </strong>
                                    <a *ngIf="feedDetail?.originator_id===1" id="msgFrom" class="email" [href]="'mailto:'+msg_from" [innerHTML]="msg_from">
                                        <!-- {{msg_from}}; -->
                                    </a>

                                        <span *ngIf="feedDetail?.originator_id===0" class=""  [innerHTML]="msg_from">
                                            </span> &nbsp; &nbsp; &nbsp; &nbsp;{{feedDetail?.msg_received_dt |date:'medium':'UTC+01:00'}}</span><br />

                                <span class="to" *ngIf="feedDetail?.msg_to"><strong>To : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>

                                    <a class="email" *ngFor="let msg_to of feedDetail?.msg_to" [href]="'mailto:'+ msg_to">{{msg_to}};
                                    </a>
                                   </span>
                            </div>



                            <div class="col-4">
                                <div *ngIf="feedDetail?.reviewed_by_username">
                                    <span class="metaDetails"><strong>Reviewed By:</strong>
                                        {{feedDetail?.reviewed_by_username}}</span>
                                </div>
                                <div *ngIf="feedDetail?.reviewed_date">
                                    <span class="metaDetails"><strong>Reviewed On:</strong> {{feedDetail?.reviewed_date
                                        |date:'medium':'UTC+01:00'}}</span>
                                </div>
                            </div>

                        </div>
                        <ul *ngIf="feedDetail?.msg_language !=='en' && feedDetail?.uuid" class="nav  justify-content-start" id="languageTab" role="languagetablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link disabled" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                                    <i class="fa fa-language" aria-hidden="true"></i> Language
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="foreign_lang-tab" data-bs-toggle="tab" data-bs-target="#foreign_lang" type="button" role="tab" aria-controls="foreign_lang" aria-selected="false"><strong>

                                    {{feedDetail?.msg_language==='fr'?'French':''}}

                                    {{feedDetail?.msg_language==='de'?'Germany':''}}&nbsp;(Original)
                                </strong></a>
                            </li>
                            <li *ngIf="feedDetail?.msg_language!='en'" class="nav-item" role="presentation">
                                <a class="nav-link" id="english-tab" data-bs-toggle="tab" data-bs-target="#english" type="button" role="tab" aria-controls="english" aria-selected="false">English</a>
                            </li>
                        </ul>
                        <div [ngClass]="{'tab-content': (feedDetail?.msg_language!='en')}" id="languageTabContent">

                            <div class="tab-pane active show" id="foreign_lang" role="tabpanel" aria-labelledby="foreign_lang-tab">
                                <iframe title="message description" class="" style="height: 62vh;" width="100%" id="iframe_original_desc"></iframe>

                            </div>
                            <div *ngIf="feedDetail?.msg_language!='en'" class="tab-pane fade" id="english" role="tabpanel" aria-labelledby="english-tab" [innerHTML]="msg_body_translated">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
