.reademail-mail,.reademail-meter
    border-radius: 0
    border: 0
.card-header
    border-radius: 0
.feedContainer
    padding: 0 24px 0 12.5px
.reademail-mail .card-body
    overflow-y: scroll
    overflow-x: hidden
.reademail-meter .card-body
    padding: 0
div.card-header
    font-size: 16px
    font-weight: 600
    text-align: center
.text-left
    text-align: left !important
i.fa-calendar
    color: #0a58ca !important
div.msgBody>div.card-text, pre.card-text
    font-size: 14px
    font-weight: 500
    font-family: 'Open Sans'
    word-break: break-word
    overflow-x: hidden
    white-space: pre-wrap
    white-space: -moz-pre-wrap
    white-space: -pre-wrap
    white-space: -o-pre-wrap
    word-wrap: break-word
.keywords
    padding: 0 15px
.feedBackSubject
    font-weight: 600
    font-size: 14px
.accepted,.rejected
    font-size: 20px
.accepted
    color: #198754
.rejected
    color: #dc3545
ul#languageTab
    background-color: #F3F2F0
    margin: 4px 0px !important
ul#languageTab li>a
    color: #212529
.nav-item>a.active
    border-bottom: 3px solid #333
.keywords span
    cursor: pointer
