<div class="row pr-15">

    <div class="col-xs-12 col-lg-7 col-sm-6 feedcounts">
        <button type="button" id="pendingFeedCount" data-value="{{statusButtons.pending_review.count}}" [ngClass]="{'btn-outline-primary': (selectedStatusButton !== statusButtons.pending_review.label), 'btn-primary': (selectedStatusButton === statusButtons.pending_review.label), 'btn reademailBtn m-1': true}"
            (click)="getPendingFeeds()">{{statusButtons.pending_review.label}}&nbsp;&nbsp;({{statusButtons.pending_review.count}})</button>
        <button type="button" [ngClass]="{'btn-outline-primary': (selectedStatusButton !== statusButtons.reviewed.label), 'btn-primary': (selectedStatusButton === statusButtons.reviewed.label), 'btn reademailBtn m-1': true}" (click)="getReviewedFeeds()">{{statusButtons.reviewed.label}}&nbsp;&nbsp;({{statusButtons.reviewed.count}})</button>
        <button type="button" [ngClass]="{'btn-outline-primary': (selectedStatusButton !== statusButtons.relevant.label), 'btn-primary': (selectedStatusButton === statusButtons.relevant.label), 'btn reademailBtn m-1': true}" (click)="getRelevantFeeds()">{{statusButtons.relevant.label}}&nbsp;&nbsp;({{statusButtons.relevant.count}})</button>
        <button type="button" [ngClass]="{'btn-outline-primary': (selectedStatusButton !== statusButtons.irrelevant.label), 'btn-primary': (selectedStatusButton === statusButtons.irrelevant.label), 'btn reademailBtn m-1': true}" (click)="getIrrelevantFeeds()">{{statusButtons.irrelevant.label}}&nbsp;&nbsp;({{statusButtons.irrelevant.count}})</button>
    </div>

    <div class="col-xs-12 col-lg-5 col-sm-6">
        <div class="input-group reademailDateRange d-inline-block" daterangepicker [options]="picker1" (selected)="selectedDate($event, chosenDate)">
            <span class="form-control uneditable-input" name="daterange">
                {{ dateSelectedlabel}}
            </span>
            <span class="input-group-btn">
                <a type="button" class="btn btn-default reademailDateRangeIcon"><i class="fa fa-calendar"></i></a>
            </span>
        </div>


    </div>

</div>