<div class="feedTopMenu d-flex justify-content-between bg-white">
    <div class="dropdown">
        <select class="form-select" [(ngModel)]="selectedOriginatorId" id="originator" aria-label="All" (change)="onOriginatorTypeChange()">
            <option *ngFor="let originatorValue of originatorValues" [ngValue]="originatorValue.value">
                {{originatorValue.name}}</option>
        </select>

    </div>
    <div class="filtercount"><strong>{{countSelectedFilterStr}}</strong></div>
</div>