$border-color: #D6D0D0
$highlight-color: #3488E6

.feedTopMenu
    padding: .37rem 1rem
    // border-top-left-radius: 10px
    border-bottom: 1px solid $border-color
    border-right: 1px solid $border-color
.reademailDateRange>.input-group-btn
    display: none
.input-group
    width: auto
.svg-inline--fa.fa-border
    height: 1.7em !important
.form-select
    background-size: 16px 16px
.filtercount
    padding: 5px 5px 0
