.feedlist
    padding: 0px 0px 0 0
    width: 100%
    float: left
    height: 75vh
    overflow-y: scroll
    border-radius: 0
    border-right: 1px solid #dee2e6
    background-color: #fff
.feedlist>a.list-group-item
    border-radius: 0
    border-top: 0
    border-left: 0
    border-right: 0
    cursor: pointer
.feedlist>a.list-group-item.active
    background-color: #ECF1FC
a.list-group-item div h5
    font-size: 14px
    white-space: nowrap
    text-overflow: ellipsis
    font-weight: 600
    word-break: break-word
    -webkit-line-clamp: 1
    -webkit-box-orient: vertical
    display: inline-block
    line-height: 20px
    overflow: hidden
small
    word-break: break-word
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    line-height: 20px
    max-height: 40px
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    font-weight: 500
