<app-feed-list-top-menu></app-feed-list-top-menu>
<div id="feedList" class="list-group feedlist" (scroll)="onScroll($event)">

    <a *ngFor="let feed of feedList;index as i;" (click)="getFeedDetail(i,feed)" [ngClass]="{'list-group-item list-group-item-action flex-column align-items-start active':true,
'active':(selectedFeedNumber==i)
}">

        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{feed?.msg_subject}}</h5>
        </div>
        <small [innerHtml]="feed?.msg_body">{{feed?.msg_body}}</small>
    </a>

</div>