.navbar.navbar-light
    border-bottom: 1px solid #ccc
    background: #fff
.keyWordSerch
    border-radius: 20px
    background: #FAFAFA
    padding: .575rem 1.2rem
    font-style: italic
.keyWordSerchForm
    width: 50%
#headUserDropdown fa-icon
    background-color: #ecf1fc
    padding: 0.625rem 0.73rem
    border-radius: 50%
    position: relative
    top: -0.625rem !important
    position: relative
    // top: 6px
    left: 3px
fa-icon
    position: relative
    top: 6px
    left: 3px
.headUserNameSec span
    font-size: 14px
    font-weight: 600
.headUserNameSec small
    font-size: 12px
#headUserDropdown.dropdown-toggle::after
    vertical-align: 0.625rem
.badge
    color: red
    padding: 0
.keyWordSerch
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e")
    background-repeat: no-repeat
    background-position: right .75rem center
