<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">READeMail</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="name || username ">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <div class="input-group reademailSelectDomain d-inline-block">
                        <div class="dropdown">
                            <select class="form-select" (change)="onMailBoxChangeGetFeedsCount()" aria-label="Default select example" [(ngModel)]="selectedMailBox">
                            <option value="0">All</option>
                            <option *ngFor="let mailBox of mailBoxes" [ngValue]="mailBox.mailbox_id">{{mailBox.mailbox_name}}
                            </option>
                        </select>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <fa-icon [icon]="faBell" [classes]="['head-notification']" size="2x"></fa-icon>
                        <sup *ngIf="pendingCount" class="badge"><span class="fa fa-star checked"></span></sup>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="headUserDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="fasUser" [classes]="['head-user-icon']" size="lg"></fa-icon>

                        <div class="d-inline-block ml-2 headUserNameSec">
                            <span class="d-block">{{name}}</span>
                            <small class="d-block">{{username}}</small>
                        </div>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="headUserDropdown">
                        <li>
                            <a class="dropdown-item" href="/logout">
                                <span style="font-size: 0.9rem;">
                                    <fa-icon [icon]="faSignOut" size="lg"></fa-icon>
                                </span> Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>