$colWidth: 8.3333333333%
$spacer: 0.625rem
$black: #000
$viewPortWidth: 10%
$leftMenuWidth: 5vw
$rightMenuWidth: 95vw
$righttopHeight: 65px
$border-color: #D6D0D0
$font-family: "Open sans"
$highlight-color: #3488E6
$light-highlight-color: #ECF1FC
$light-highlight-bg-txt-col: #656667

/* cyrillic-ext */

@font-face
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 400
    src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2')
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F

/* cyrillic */

@font-face
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 400
    src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2')
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* greek-ext */

@font-face
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 400
    src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2')
    unicode-range: U+1F00-1FFF

/* greek */

@font-face
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 400
    src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2')
    unicode-range: U+0370-03FF

/* vietnamese */

@font-face
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 400
    src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2')
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB

/* latin-ext */

@font-face
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 400
    src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2')
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */

@font-face
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 400
    src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2')
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

*
    font-family: $font-family
    font-size: 14px

body
    overflow-x: hidden
.col-1-5
    width: $colWidth*1.5
.col-10-5
    width: $colWidth*10.5

.mt-0
    margin-top: 0 !important

.ml-1
    margin-left: ($spacer * .25) !important

.ml-2
    margin-left: ($spacer * 0.75) !important

.ml-3
    margin-left: ($spacer * 1.5) !important

.px-2
    padding-left: ($spacer * .5) !important
    padding-right: ($spacer * .5) !important

.p-1
    padding: $spacer !important
.pl-0
    padding-left: 0px !important
.pr-0
    padding-right: 0px !important
.pr-15
    padding-right: $spacer*1.5
.pl-15
    padding-left: $spacer*1.5
.pl-20
    padding-left: 20px
.pl-40
    padding-left: 40px
.m-1
    margin: $spacer !important
.pl-1
    padding: $spacer
.pr-3
    padding-right: $spacer*1.5
.pt-20
    padding-top: 20px
.w-1
    width: $viewPortWidth*1
.w-2
    width: $viewPortWidth*2
.w-3
    width: $viewPortWidth*3
.w-4
    width: $viewPortWidth*4
.w-5
    width: $viewPortWidth*5
.w-6
    width: $viewPortWidth*6
.w-7
    width: $viewPortWidth*7
.w-8
    width: $viewPortWidth*8
.w-9
    width: $viewPortWidth*9
.w-10
    width: $viewPortWidth*10
.pr-0
    padding-right: 0
.br-0
    border-right: none
.bb-1
    border-bottom: 1px solid $border-color

.leftMenuCollapse
    width: $leftMenuWidth
.rightMenuCollapse
    width: $rightMenuWidth

/* width */
::-webkit-scrollbar
    width: 5px

/* Track */
::-webkit-scrollbar-track
    box-shadow: inset 0 0 1px #dee2e6
    border-radius: 10px

/* Handle */
::-webkit-scrollbar-thumb
    background: gray
    border-radius: 0px

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: $black

.navbar-brand
    display: inline-block
    height: 53px
    width: 165px
    background-repeat: no-repeat
    background-position: center

fa-icon[ng-reflect-classes='reademailToggleMenu']
    font-size: 1.5rem
    cursor: pointer
.navbar
    padding-top: 0
    padding-bottom: 0
.reademailBtn
    border-radius: 20px
.reademailDateRange
    max-width: 16rem
    min-width: 10rem
    position: relative
    top: 2px
    float: right
    margin: 0.5rem 0 0
    width: auto !important
div.reademailDateRange>span.uneditable-input
    width: 100%
    border: 1px solid $highlight-color
div.reademailDateRange>span.uneditable-input
    width: 100%
a.btn.btn-default.reademailDateRangeIcon
    position: absolute
    top: 0
    right: 0
div.input-group.reademailDateRange span.input-group-btn
    margin-left: 0 !important

.feedTopMenu,.reademail-mail .card-header
    min-height: 45px
    border-bottom: 1px solid $border-color
.reademail-meter .card-header
    height: $righttopHeight
.list-group-item.active
    z-index: 2
    color: #333
    background-color: #ecf1fc
    border-color: $border-color
    border-left: 1px solid $border-color
    border-right: 1px solid $border-color
    border: 1px solid $border-color
    border-top: 0px
    border-bottom: 0px
.list-group-item
    border: 1px solid $border-color
    small
        color: #7C7E81
.highlighterhead
    font-size: 18px
    font-weight: 600
.highlighter
    font-size: 20px
    font-weight: 600
    color: green
.card-header-sub
    border-bottom: 1px solid $border-color
    padding-bottom: 10px
div.gauge-chart>span:nth-child(1)
    padding: 5px 20px
    text-align: left
    margin-bottom: 0px !important
    font-family: $font-family
    font-size: 16px !important
    font-weight: 600 !important
button.categorySelect
    padding: 4px 10px !important
    margin-left: 10px
    background: #fff
    color: #000
    border: 1px solid $highlight-color
    font-weight: 500
    font-size: 15px !important
    position: relative
    top: -3px
.feedTopMenu>div>fa-icon.ng-fa-icon
    color: $highlight-color
    font-size: 16px
.feedTopMenu>div>fa-icon.ng-fa-icon>svg
    margin: 4px 5px 0px
    cursor: pointer
.bg-gray
    background-color: #F9F9F8 !important
.bg-white
    background-color: #ffffff !important
.bg-dark-gray
    background-color: #F3F2F0
.gauge-chart__label
    position: relative
    top: -20px
.cardSection
    padding: 5px 15px 15px
.contentHeader
    padding: 5px 0px 10px
    text-align: left
    margin-bottom: 0px !important
    font-size: 16px !important
    font-weight: 600 !important
.metadetails
    margin-bottom: 20px
div.keywords>span
    padding: 4px 10px
    border-radius: 17px
    color: #fff
    font-weight: 500
    display: inline-block
div.keywords>span
    background-color: #245B52
    margin: 0 5px
.metaRow
    padding: 5px 0
span.metaName
    font-weight: 600
    min-width: 100px
    display: block
.btn-primary
    background-color: $highlight-color
    border-color: $highlight-color
.btn-outline-primary
    border: 2px solid $highlight-color
    color: $light-highlight-bg-txt-col
    background: $light-highlight-color
.btn-outline-primary:hover
    background-color: $highlight-color
.reademailSelectDomain
    max-width: 20rem
    min-width: 15rem
    position: relative
    top: 2px
    float: right
    margin: 0.5rem 20px 0 0
    width: auto !important

@media screen and (max-width: 768px)
    .m-1
        margin: 0.625rem 2px !important
    .btn
        padding: .375rem .75rem
    .reademailDateRange
        min-width: 8.5rem
        max-width: 8.5rem
    .reademailDateRange span
        font-size: 12px
    .reademailSelectDomain
        max-width: 7rem
        min-width: 7rem
    div.feedlist>a>div>h5
        font-size: 14px
        white-space: nowrap
        text-overflow: ellipsis
        font-weight: 600
        word-break: break-word
        word-break: break-word
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box
    .card-header
        padding: .5rem .75rem

    div.keywords > span
        height: 26px
        padding: 2px 10px
        border-radius: 17px
        color: #fff
        font-weight: 500
        display: inline-block
div.keywords > span.normal
    background: #fff !important
    color: #333 !important
    border: 2px solid #245B52 !important

.vertical-center
    justify-content: left
    display: flex
    vertical-align: middle
    align-items: center

//Loader Icon implemented

.loader
    border: 3px solid #f3f3f3
    border-radius: 50%
    border-top: 3px solid #3488E6
    width: 85px
    height: 85px
    animation: spin .5s linear infinite

/* Safari */
@-webkit-keyframes spin
  0% 
    -webkit-transform: rotate(0deg)
  100% 
    -webkit-transform: rotate(360deg)

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

#blocker
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: .5
    background-color: #000
    z-index: 1000
    overflow: auto
    justify-content: center
    vertical-align: middle
    align-items: center
#blocker div:nth-child(2)
    position: absolute
    top: 50%
    left: 50%
    width: 1em
    height: 2em
    margin: -1em 0 0 -2.1em
    color: #fff
#blocker img
    position: relative
    top: -55px
    left: 15%
div.card-body.msgBody div>img, div.msgBody img
    max-width: 100% !important
    max-height: 300px !important
div.card-body.msgBody table
    margin: auto 0 !important

div.msgBody>div.card-text, pre.card-text,div.msgBody p, div.msgBody em
    font-size: 14px !important
    font-weight: 500 !important
    font-family: 'Open Sans' !important
    word-break: break-word !important
    overflow-x: hidden !important
    white-space: normal !important
    word-wrap: break-word !important
div.msgBody>div.card-text.feeds, pre.card-text.feeds
    white-space: normal !important
.acceptandreject
    position: absolute
    right: 15px
.btn-outline-success
    background-color: #198754
    color: #ffffff
.btn-outline-danger
    background-color: #dc3545
    color: #ffffff
.card-body
    padding: 0.5rem 0 0 0.5rem !important
.fa.fa-language
    font-size: 20px
    padding: 0 8px 0 0
.email
    font-weight: 500
    font-size: 14px
    text-transform: lowercase
    letter-spacing: 0.2px
    color: #3488E6
.p-t0-l10
    padding: 0 10px
body
    overflow: hidden
iframe span.highlight,.bg-yellow
    background-color: #FFFF00 !important
mark
    background: orange
    color: black
